@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/index.js"></script>

<div class="panel">
    <div class="panel-head">Warrior Knights Main Menu</div>
    <div class="panel-body">
        <div class="row col-12" style="margin-left:8px; margin-top: 20px;">
            <input type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("NewGame", "Game")'" value="Start a New Game" style="width: 99%;" />
        </div>
        <div class="row col-12" style="margin-left:8px; margin-top: 20px;">
            <input type="button" class="btn btn-primary btn-lg" onclick="btnShowLoadInfoClick()" value="Load a Saved Game" style="width: 99%;"></input>
        </div>
        <div id="loadGameInfo" class="row col-12" style="margin-left:8px; margin-top: 20px; display: none;">
            <div class="col-6"><input id="txtGameId" class="form-control" placeholder="Enter the GameId of the game you want to load." value="9E51F8FC-A55A-4A6E-8623-B253C826B859"></input></div>
            <div class="col-2"><input type="button" class="btn btn-primary" onclick="btnLoadGameClick('@Url.Action("RunGame", "Game")')" value="Load" style="width: 100%; margin-top: 4px;" ></input></div>
            <div class="col-2"><input type="button" class="btn btn-primary" onclick="btnCancelLoadGameClick()" value="Cancel" style="width: 100%; margin-top: 4px;" ></input></div>
        </div>
    </div>    
</div>