@{
    ViewData["Title"] = "New Game";
}

<h4>Create a new game of Warrior Knights</h4>

<div class="panel">
    <div class="panel-head">Game Info</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-2">Game Name</div>
            <div class="col-11"><input id="txtNewGameName" class="form-control" placeholder="Enter a name for the new game" value="Nathan's new Game"></input></div>
        </div>
    </div>    
</div>

<div class="panel">
    <div class="panel-head">Players</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-4"><input id="txtNewPlayerName" class="form-control" placeholder="Enter new player's name" value="Nathan1"></input></div>
            <div class="col-1"><input id="colNewPlayerColour" type="color" class="form-control" placeholder="Choose new player's colour" style="height: 36px;"></input></div>
            <div class="col-2"><input type="button" class="btn btn-primary" onclick="btnAddPlayerClick()" value="Add Player"></input></div>
            <div class="col-2"><input type="button" class="btn btn-primary" onclick="btnClearAllPlayersClick()" value="Clear All"></input></div>
        </div>
        <hr/>
        <table id="lstPlayers" class="table">
            <thead>
                <tr style="border: solid 1px darkgrey;">
                    <th>Player Name</th>
                    <th>Player Colour</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="row col-12" style="margin-left:8px; margin-top: 20px;">

            <input type="button" class="btn btn-primary btn-lg" onclick="btnStartGameClick('CreateGame')" value="Start Game" style="width: 99%;"></input>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/newgame.js" asp-append-version="true"></script>
}