@model WarriorKnightsUI.Models.RunGameVM

@{
    ViewData["Title"] = "At some point, put the game name here";
}

<style>
    .boardTile{
        border: 1px solid black;
        background-color: greenyellow;
    }    
    .boardTileSize{
        width: 200;
        height: 200;
    }
    

    .boardRow{
        margin-top: 0px;
    }
</style>

<div id="manualDraw" class="panel">
    <div class="panel-head">Manual Drawing</div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="col-1">From</div>
            <div class="col-2"><input id="txtFromX" value="0"></input></div>
            <div class="col-2"><input id="txtFromY" value="75"></input></div>
        </div>    
        <div class="row">
            <div class="col-1">To</div>
            <div class="col-2"><input id="txtToX" value="100"></div>
            <div class="col-2"><input id="txtToY" value="87"></input></div>
            <div class="col-2"><input type="button" onclick="btnDrawClick()" value="Draw it Baby!"></input></div>
        </div>
    </div>
</div>

<div id="board" class="row" style="margin-top: 24px;"></div>
@* <div id="board" class="row" style="margin-top: 24px;">
    <div id="row1" class="row col-12 boardRow">
        <div class="col-2"><canvas id="Tile11" class="boardTile"></canvas></div>
        <div class="col-2"><canvas id="Tile21" class="boardTile"></canvas></div>
        <div class="col-2"><canvas id="Tile31" class="boardTile"></canvas></div>
        <div class="col-2"><canvas id="Tile41" class="boardTile"></canvas></div>
        <div class="col-2"><canvas id="Tile51" class="boardTile"></canvas></div>
        <div class="col-2"><canvas id="Tile61" class="boardTile"></canvas></div>
    </div>
    <div id="row2" class="row col-12 boardRow">
        <div class="col-2">
            <canvas id="TileA2" class="boardTile"></canvas>
        </div>
        <div class="col-2">
            <canvas id="TileB2" class="boardTile"></canvas>
        </div>
        <div class="col-2">
            <canvas id="TileC2" class="boardTile"></canvas>
        </div>
        <div class="col-2">
            <canvas id="TileD2" class="boardTile"></canvas>
        </div>
        <div class="col-2">
            <canvas id="TileE2" class="boardTile"></canvas>
        </div>
        <div class="col-2">
            <canvas id="TileF2" class="boardTile"></canvas>
        </div>
    </div>
</div> *@

@section Scripts{
    <script>
        $(document).ready(function(){
            loadTiles("@Model.GameId");
        });
    </script>
}