@model WarriorKnightsUI.Models.RunGameVM

@{
    ViewData["Title"] = "At some point, put the game name here";
}

<style>
    .boardTile{
        border: 1px solid black;
        background-color: greenyellow;
    }    
    .boardTileSize{
        width: 200;
        height: 200;
    }
    

    .boardRow{
        margin-top: 0px;
    }
</style>

<div id="manualDraw" class="panel">
    <div class="panel-head">Manual Drawing</div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="col-1">From</div>
            <div class="col-2"><input id="txtFromX" value="0"></input></div>
            <div class="col-2"><input id="txtFromY" value="75"></input></div>
        </div>    
        <div class="row">
            <div class="col-1">To</div>
            <div class="col-2"><input id="txtToX" value="100"></div>
            <div class="col-2"><input id="txtToY" value="87"></input></div>
            <div class="col-2"><input type="button" onclick="btnDrawClick()" value="Draw it Baby!"></input></div>
        </div>
    </div>
</div>

<table id="board" class="row" style="margin-top: 24px;"></table>

@section Scripts{
    <script>
        $(document).ready(function(){
            loadTiles("@Model.GameId");
        });
    </script>
}